:root{
  --width-Mobile: 375px;
  --width-Desktop: 1440px;

   --Green-200: hsl(148, 38%, 91%);
   --Green-600: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);

    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);

    --font-label-size:16px;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--Green-200);
  color: var(--Grey-900);
}
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  color: var(--Grey-500);
  background-color: var(--Grey-900);
  border-radius: 10px;
  border: 2px solid var(--Green-200);
}
::-webkit-scrollbar-track{
  background-color: var(--White);
  
}
.container{
  width: 100%;
  max-width: var(--width-Desktop);
  margin:0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
 
}
.contact-form{
  width: 100%;
  max-width: 600px;
  background-color: var(--White);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px  rgba(0, 0, 0, 0.1);
  position: relative;
}

input[type=email],
input[type=text],
textarea{
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  border: 2px solid var(--Green-200);
}
label{
  text-transform: capitalize;
  

}

.container-form .form-group:nth-child(1){
  display: flex;
  gap: 1rem;
    
}
.radio-input{
  display: flex;  margin-top: 10px;
  
}
.container-form .form-group:nth-child(3) .radio-input .radio-option{
  width: 100%;
  cursor: pointer;
  padding: .5rem 2rem;
  outline: 1px solid var(--Grey-500);
  margin: 0 .5rem;
  border-radius: 10px;
  margin-bottom: 10px;
}
.contact-form h1{
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--Grey-900);
}

input[type=checkbox]{
  margin-top: 10px;
  color: var(--Grey-900);
}
input:focus,
textarea:focus{
  outline: 1px solid var(--Green-200);
  border: 1px solid var(--Green-600);
}
input[type=text].form-error,
input[type=email].form-error{
  border: 1px solid var(--Red);
  outline: 1px solid var(--Red);
}

.form-alert{
  display: none;
  text-transform: capitalize;
  margin-top: .5rem;
  color: var(--Red);
  font-size: 14px;
}
.form-alert .form-error{
  display: block;
}


.submitBtn{
  width: 100%;
  margin-top: 10px;
  padding: .7rem;
  text-transform: capitalize;
  border: none;
  background-color: var(--Green-600);
  color: var(--White);
  border-radius: 10px;
  cursor: pointer;
}

.success-message {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Green-200);
  color: var(--Grey-900);
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  z-index: 10;
  display: none;
}
.success-message.active {
  display: block;
  animation: fadeout 5s ease-in-out forwards;
}
@keyframes fadeout {
  0%,25%,50%,75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width:768px){
  .container-form .form-group:nth-child(1){
    flex-direction: column;
  }
  .container{
    max-width: var(--width-Mobile);
    height: 100vh;
    width: 100%;
   
  }
  .contact-form{
    max-width: 90%;
    width: 100%;
    height: auto;
    padding: 20px;
    
  }
  ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb{
    width: 5px;
    height: 5px;
  }
  
  .container-form .form-group:nth-child(3) .radio-input {
    display: flex;
    flex-direction: column;
  }
  textarea{
    height: 100px;
  }
  .success-message{
    width: 95%;
    top: -40px;
  }
}




